.center {
  display: flex;
  flex-direction: column; /* flex-direction is row by default, need to make it column for it to wrap vertically so everything is not on the same line */
  flex-wrap: wrap;
  white-space: pre-wrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.form .input {
  font-size: 14px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

.form .button {
  font-size: 14px;
  width: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 10px;
}

.list-item {
  display: flex;
  list-style: none;
  width: 300px;
  height: 300px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color:  #dada84;
  padding: 10px;
}